.form-wrapper {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    transition: ease 0.3s;
}

.form-content {
    background-color: #fefefe;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}

.label-and-input {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.label-and-input label {
    width: 100%;
    margin-bottom: 10px;
    text-align: center;
    font-weight: bold;
}

.label-and-input input, textarea, select {
    width: 100%;
    margin: 10px 0 10px 0;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.label-and-input textarea {
    resize: none;
}